.primary-banner {
  text-align: center;
  margin: 0 auto;
  height: 20%;
  
}
.login-comp {
  max-height: 300px;
}
.register-comp {
  max-height: 300px;
}
.dynamic-comps {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  margin: 0 auto;
  min-height: 800px;
  max-width: 1400px;
  margin-bottom: 20px;
  
  
}

.container > div {
  border: 1px solid black;
}

