/* color scheme purple girl
purple: (96,70,95)
dark grey: (91,93,114)
almost black (45,45,45)
gold: (156,149,79)
light grey: (219,219,219)
*/
p {
  color: rgb(219,219,219)
}
body {
  background-color: rgb(45,45,45);
}
h1 {
  color: rgb(219,219,219);
}
h2 {
  color: rgb(156,149,79)
}
h3 {
  color: rgb(96,70,95);
}
li {
  color: rgb(219,219,219);
  margin: 10px;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(96,70,95);
  background-color: rgb(91,93,114);
  border-radius: 5%;
  color: rgb(219,219,219);
  max-width: 120px;
  font-size: 75vb;
}
button {
  border: 1px solid rgb(96,70,95);
  background-color: rgb(91,93,114);
  border-radius: 5%;
  color: rgb(219,219,219);
  max-width: 150px;
  margin: 5px;
  font-size: 75vb;
}


.comment-list-div {
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  margin-bottom: 20px;
}
.comment-list-div:hover{
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
  margin-bottom: 20px;
}

.single-comment-div {
  border-bottom: 1px solid rgb(91,93,114);
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: top;
  padding: 10px;
  max-height: 300px;
  width: 95%;
  overflow: auto;
  margin-left: 10px;
  
}

.delete-comment-button-div {
  display: flex;
  flex-direction: column;
  align-items: right;
  
}
.delete-comment-button-div > button {
  height: 20px;
  width: 150px;
}
.delete-comment-div {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -100px; 
  margin-left: -250px; 
  background: black;
  color: lightgray;
  overflow: auto;
}
.comments-skip-div {
  text-align: center;
}
.comment-timestamp-div {
  display:flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin: 20px;
  font-size: 10px;
}
#comment-list-h2 {
  text-align:left;
  margin: 10px;
}

.single-list-div > ul {
  float: left;
}
.single-post-div {
  border-bottom: 1px solid rgb(91,93,114);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100px;
  padding: 10px;
  text-align: left;
}
.single-post-div > .count-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 70%;
  margin:10px;
  
}

.single-list-div {
  width: 75%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  /* border: 1px solid red; */
 
}
.post-timestamp-div {
  display:flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin: 20px;
  font-size: 10px;
}


.comment-form-div {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 10px;
  text-align: left;
  padding: 10px;
  max-width: 75%;
}
.comment-form-div:hover {
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
}
.comment-form-div > form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.commentBox {
  height: 200px;
  width: 600px;
  float: left;
  overflow: auto;
  border: 1px solid black;
}
.primary-banner {
  text-align: center;
  margin: 0 auto;
  height: 20%;
  
}
.login-comp {
  max-height: 300px; 
}
.login-reg-div {
  
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  align-items: top;
  padding: 20px;
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
}
.login-reg-div:hover{
  border: 1px solid rgb(219,219,219);
  border-radius: 2%;
}
.login-reg-div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.login-reg-div > button {
  width: 60%;
  align-self: center;
  margin: 10px;
  border: 1px solid rgb(156,149,79);
  border-radius: 2%;
  background-color: rgb(91,93,114);
}
.login-reg-div > button:hover {
  border: 1px solid rgb(219,219,219);
  border-radius: 2%;
}
.login-reg-div > div > button {
  width: 40%;
  border: 1px solid rgb(156,149,79);
  border-radius: 5px;
  background-color: rgb(91,93,114);
  align-self: center;
}
.login-reg-div > div > button:hover {
  color: red;
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-success-div {
  max-width: 250px;
}
.post-div {
  text-align: left;
  display:flex;
  flex-direction: column;
}

.post-body-div {
  min-height: 200px;
  min-width: 500px;
  padding: 10px;
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  text-align: left;
}
.post-body-div:hover {
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
}
.post-body-div > ul {
  display: flex;
  flex-direction: row;
  font-size: 8px;
}
.post-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: left;
  
  border: 1px solid rgb(91,93,114);
}
.post-form > form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  max-width: 200px;
  
}
.post-form > form > textarea {
  min-height: 200px;
  min-width: 500px;
}
.posts-comp {
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  margin-bottom: 20px;
}
.posts-comp:hover {
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
}
.register-div {
  max-height: 300px;
  
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.dynamic-comps {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  min-width: 600px;
  
}


.container {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 1fr 1fr;
  margin: 0 auto;
  /* min-height: 800px; */
  max-width: 1400px;
  margin-bottom: 20px;
  
  
}

.container > div {
  /* border: 1px solid black; */
  overflow-wrap: break-word;
}

.render-error {
  color: red;
}
