/* color scheme purple girl
purple: (96,70,95)
dark grey: (91,93,114)
almost black (45,45,45)
gold: (156,149,79)
light grey: (219,219,219)

fonts:
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

p {
  color: rgb(219,219,219);
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: rgb(0,0,0);
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: rgb(219,219,219);
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  color: rgb(156,149,79);
  font-family: 'Roboto Condensed', sans-serif;
}
h3 {
  color: rgb(96,70,95);
  font-family: 'Roboto Condensed', sans-serif;
}
li {
  color: rgb(219,219,219);
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(156,149,79);
  background-color: rgb(91,93,114);
  border-radius: 5px;
  color: rgb(219,219,219);
  max-width: 140px;
  font-family: 'Montserrat', sans-serif;
}
button {
  border: 1px solid rgb(156,149,79);
  background-color: rgb(96,70,95);
  border-radius: 5px;
  color: rgb(219,219,219);
  max-width: 150px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  
}


.comment-list-div {
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  margin-bottom: 20px;
}

.single-comment-div {
  border-bottom: 1px solid rgb(91,93,114);
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  padding: 10px;
  min-height: 200px;
  overflow: auto;
  margin-left: 10px;
  margin: 0 auto;
}
.single-comment-div:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.comment-count-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-count-div > button {
  width: 90px;
  
}
.comment-count-div > h3 {
  text-align: center;
}
.delete-comment-button-div > button {
  width: 150px;
  margin-left: 100px;
}
.delete-comment-div {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -100px; 
  margin-left: -250px; 
  background: rgb(91,93,114);
  color: lightgray;
  overflow: auto;
  border: 1px solid rgb(219,219,219);
  border-radius: 3px;
}
.comments-skip-div {
  text-align: center;
}
.comment-timestamp-div {
  display:flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin: 20px;
  font-size: 8px;
}
#comment-list-h2 {
  text-align:left;
  margin: 10px;
}

.single-list-div > ul {
  float: left;
}
.single-post-div {
  border-bottom: 1px solid rgb(91,93,114);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  min-height: 100px;
  text-align: left;
  padding: 10px;
}
.single-post-div:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.single-post-div > .count-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  
}
.single-post-div > .count-div > button {
  width: 90px;
}

.single-list-div {
  width: 75%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  /* border: 1px solid red; */
 
}
.post-timestamp-div {
  display:flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin: 20px;
  font-size: 10px;
}


.comment-form-div {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 10px;
  text-align: left;
  padding: 10px;
  width: 75%;
}
.comment-form-div:hover {
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
}
.comment-form-div > form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}

.commentBox {
  height: 300px;
  float: left;
  overflow: auto;
  border: 1px solid black;
}
.primary-banner {
  text-align: center;
  margin: 0 auto;
  height: 20%;
  
}
.login-comp {
  max-height: 300px; 
}
.login-reg-div {
  
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  width: 60%;
  overflow: auto;
  flex-direction: column;
  margin: 0 auto;
  align-items: top;
  padding: 20px;
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  margin-bottom: 10px;
}
.login-reg-div:hover{
  border: 1px solid rgb(219,219,219);
  border-radius: 2%;
}
.login-reg-div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.login-reg-div > button {
  width: 40%;
  align-self: center;
  margin: 10px;
  border: 1px solid rgb(156,149,79);
  border-radius: 5px;
  background-color: rgb(91,93,114);
}
.login-reg-div > div > button {
  width: 40%;
  border: 1px solid rgb(156,149,79);
  border-radius: 5px;
  background-color: rgb(91,93,114);
  align-self: center;
}
.login-reg-div > div > button:hover {
  color: red;
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-success-div {
  max-width: 250px;
}
.post-div {
  text-align: left;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.post-body-div {
  min-height: 200px;
  min-width: 500px;
  padding: 10px;
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  text-align: left;
}
.post-body-div > ul {
  display: flex;
  flex-direction: row;
  font-size: 8px;
}
.post-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: left;
}
.post-form > button {
  margin-left: 0px;
}
.post-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-form > form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  
  
}
.posts-comp {
  border: 1px solid rgb(91,93,114);
  border-radius: 5px;
  margin-bottom: 20px;
}
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 1fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  margin-bottom: 20px;
}

.container > div {
  overflow-wrap: break-word;
  
}

.render-error {
  color: red;
}

.submit-input {
  background: rgb(96,70,95);
}

/* Styles for mobile and tablet */
@media screen and (max-width: 760px) {
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
  }

  .login-reg-div {
  
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    
  
  }
  .single-post-div {
    flex-direction: column-reverse;

  }
  
  .post-timestamp-div {
    display: inline;
    /* flex-direction: column; */
    
  }

  .post-body-div {
    min-height: 200px;
    min-width: 100px;
    max-width: 350px;
    margin: 0px;
    overflow: auto;
  }
  .inputHTML {
    max-width: 100%;
    
    padding: 10px;
    
  }
  .single-comment-div {
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    margin: 10px;
  }
  .comment-timestamp-div {
    display: inline;
    
  }

  .comment-body-div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
    text-align: left;
    /* margin-right: 20px; */
    align-items: center;
  }
  .comment-body-div > ul {
    margin-left: 0px;
    width: 280px;
    max-height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .commentBox {
    height: 150px;
  }
  .delete-comment-button-div > button {
    margin-left: 0px;
    
  }
  .delete-comment-div {
    position: fixed;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: -100px; 
    margin-left: -250px; 
    background: rgb(91,93,114);
    color: lightgray;
    overflow: auto;
    border: 1px solid rgb(219,219,219);
    border-radius: 3px;
  }

}